.sequence-image, #hotspot-container{
    width:100%;
    height:100%;
    object-fit:contain;
    
    border:1px solid gray;
    box-sizing:border-box;
}

.sequence-image{
    display:none;
}

#hotspot-container{
    background-color:rgba(0,0,255,.3);
    display:block;
    position:absolute;
    top:0px;
    left:0px;
}

#sequence-container{
    width:100%;
    height:100%;
    position:relative;
}

#client-container{
    width:80%;
    height:500px;
    border:2px solid black;
}
